
.navbar	{padding:5px;
	margin-top:20px;
	display:block;	}

body    { color:black;
	background-color: rgb(89,175,255);	
	font-family: "Book Antiqua", "Times New Roman";
	font-size:20px;
	font-weight:700;			}

h1	{ font-size:75px;}

h2	{ font-size:40px;		}

.lblue	{ color:skyblue;	}

.white	{ color:white;	}

.italic	{  font-style:italic;	}

ol	{ list-style-type:disc;			}


