
a{color:0x0000FF !important;}
a:hover{color:0xFF3300 !important;}
a:visited{color:0xFFCCCC !important;}

.navbar
{
	padding:5px;
	margin-top:20px;
	display:block;
}
body    { color:black;
	background-color:lightblue;
	font-family: "Book Antiqua";
	font-size:20px;
	font-weight:700;			}

h1	{ font-size:75px;
	font-family:"Monotype Corsiva";	}

h2	{ font-size:40px;	
	font-family:"Monotype Corsiva";
		
	}

.name
{ font-size:75px;
	font-family:"Monotype Corsiva";	}

.nameSmall
{ font-size:40px;	
	font-family:"Monotype Corsiva";
		
	}

.lblue	{ color:skyblue;
		  font-style:italic;	}

.dblue	{ color:darkblue;
		  font-style:italic;	}

.italic	{ color:black;
		  font-style:italic;	}

ol	{ list-style-type:disc;			}


